.App {
  text-align: center;
  background-color: #caf0f8;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px;
}

/* material ui의 style들이 내가 적용하고 싶은 css를 우선하는 경우가 있다.
inspector로 확인하여 꼭 적용해야한다면, !important를 기억하자. */
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app_iconButton {
  flex: 0;
}
